// Primary
$midnight-green-color:#014E56;
$light-coral-color:#F67E7E;
$white-color:#ffffff;
// Secondary
$rapture-blue-color:#79C8C7;
$police-blue-color:#2C6269;
$deep-jungle-green-color:#004047;
$sacramento-state-green-color:#012F34;
$dark-green-color:#002529;
