.build {
    background-color: $sacramento-state-green-color;
    background-image: url(../../images/build-bg.svg);
    background-position: calc(50% + 720px) calc(100%);
    background-repeat: no-repeat;
    background-size: 200px 244px;
}
.build__container {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
}
.build__title {
    @include mar-pad;
    padding-top: 54px;
    max-width: 445px;
    background-image: url(../../images/build-bg-img.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50px 4px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;    
    margin-right: auto;
}
.build__list {
    @include list-unstyled;
    padding-top: 58px;
    max-width: 540px;
    margin-left: 30px;
}
.build__item{
    display: flex;
    align-items: flex-start;
}
.build__item:not(:last-of-type){
    margin-bottom: 32px;
}
.build__img{
    display: block;
    margin-right: 23px;
}
.build__heading {
    @include mar-pad;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: $light-coral-color;
    margin-bottom: 16px;    
}
.build__text {
    @include mar-pad;
    opacity: 0.8;
}
@include breakpoint-down(1260px){
    .build {
        background-position: calc(100%) calc(70%);
    }
}
@include breakpoint-down(900px){
    .build {
        background-position: calc(100%) calc(50%);
    }
    .build__container{
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .build__title{
        margin-bottom: 86px;
        padding-top: 32px;
        font-size: 40px;
        line-height: 40px;       
    }
    .build__list {
        max-width: 573px;
        padding-top: 0;
        margin-left: 0;
    }
}
@include breakpoint-down(768px){
    .build {
        background-position: calc(100%) calc(30%);
    }
    .build__title{
        margin-bottom: 64px;
        padding-top: 32px;
        font-size: 32px;
        line-height: 32px;       
    }
}
@include breakpoint-down(375px){
    .build {
        background-position: calc(100%) 0;
    }
    .build__container{
        padding-bottom: 64px;
    }
    .build__title{
        margin-bottom: 56px;
        max-width: 240px;
    }
    .build__item{
        flex-direction: column;
        align-items: center;
    }
    .build__item:not(:last-of-type){
        margin-bottom: 48px;
    }
    .build__img{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .build__heading{
        margin-bottom: 8px;
        text-align: center;
    }
    .build__text{
        text-align: center;
    }
}